@import "tailwindcss";


:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #007bff;
  --gray: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* Image Section */
.image {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 !important;
}

/* Login Section */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}
.login-form {
  text-align: center;
}
.login-box {
  width: 70%;
  text-align: left;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.user-details input {
  width: 100%;
  padding: 20px 10px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  border-image-source: linear-gradient(to right, blue, indigo, red);
  border-image-slice: 1;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.showpassword {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  background: linear-gradient(to right, blue, indigo, red);
  background-size: 200% 100%;
  transition: background-position 0.4s ease-in-out;
  color: white;
  padding: 10px 20px;
}

.disabled {
  cursor: not-allowed;
}

.login-button {
  width: 100%;
  padding: 12px;
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-position: right center;
}
/* Forgot Password */
.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password .fpassword-link {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
  padding: 5px;
}

.forgot-password .fpassword-link:hover {
  color: white;
  border-radius: 10px;
  background: linear-gradient(to right, Blue, indigo, red);
  transition: 1s;
}

.login-button:hover {
  background: linear-gradient(to right, red, indigo, blue);
  transition: 0.5s;
}
/* Add styles for the register link */
.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link .active-link {
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link .active-link:hover {
  text-decoration: underline;
}

.otp {
  width: 100%;
  max-width: 100px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.otp-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* footer {
  background: linear-gradient(to right, Blue, indigo, red);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  /* position: absolute;
  bottom: auto; */
  /* width: 100%;
} */ */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo-container {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    width: 50%;
    height: 4px;
    background: linear-gradient(to right, Blue, indigo, red);
    transform-origin: center;
    transform: scaleX(0);
    animation: line-animation 3s ease infinite alternate;
    margin-left: 25%;
    z-index: 998;
  }

  h1#page-logo {
    font: bold 3rem "Arial", sans-serif;
    text-align: center;
    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
}

@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  70% {
    transform: scaleX(0.2);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
}

@keyframes clip-path-reveal-1 {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding-top: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }

  .image {
    display: none; /* Hide image on smaller screens */
  }

  .login {
    width: 100%;
  }
}
